.quote
{
    text-align: center;
    font-family: 'Courgette', cursive;
    margin: 18px;
    font-weight: bold;
    font-size: 1.5em;
}
.info-icon img
{
    height: 6em;
}
.small-text
{
    color: black;
    font-size: 15px;
}
.box_message
{
    width: 300px;
    margin: 10px;
}
.subscribe_input
{
    padding: 3px;
    border-radius: 5px;
    width: 500px;
    margin: 20px;
    color: black;
}
.submit
{
    margin: 10px;
    background-color: black;
    width: 300px;
    border: 1px solid yellow;
    color: yellow;
}
.submit:hover
{
    margin: 7px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 300px;
    border: 1px solid yellow;
    color: yellow;
}
/*.form-control {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    height: 40px;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    transition: all 0.4s ease-in-out 0s;
}*/
.mycontainer
{
    display: flex;
    flex-wrap: wrap;
}
.mybox
{
    margin: 30px;
}
.styling
{
    color: yellow;
    font-family: inherit;
}
.image_box
{
    margin-bottom: 20px;
}
.contact_container
{
    margin-top: 50px;
}
.team_section
{
    padding-top: 0px;
}
.Upcoming
{
    text-align: center;
    font-size: 2.4em;
    font-family: "Cambo", "Times New Roman", serif;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}
.events
{
    background-color: black;
    padding: 30px;
}
.myform
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.stylebox
{
    margin: 7px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 2px;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    width: 300px;
    padding: 3px;
}
.alert
{
    padding: 0px;
    margin-bottom: 2px;
    display: none;
}
.sub_email
{
    width: 70%;
    padding: 3px;
    border-radius: 3px;
    color: black;
    margin-bottom: 20px;
}
.sub_button
{
    background-color: yellow;
    width: 150px;
    padding: 12px;
    font-size: 1em;
    color: black;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0px;
}
.sub_button:hover
{
    background-color: coral;
    transition: 0.5s;
    
}







    